{% if site.footer-links.email %}     <a href="mailto:{{ site.footer-links.email }}"><i class="svg-icon email"></i></a>{% endif %}
{% if site.footer-links.github %}    <a rel="me" href="https://github.com/{{ site.footer-links.github }}"><i class="svg-icon github"></i></a>{% endif %}
{% if site.footer-links.mastodon %}  <a rel="me" href="https://infosec.exchange/@{{ site.footer-links.mastodon }}"><i class="svg-icon mastodon"></i></a>{% endif %}
{% if site.footer-links.bluesky %}   <a rel="me" href="https://bsky.app/profile/{{ site.footer-links.bluesky }}"><i class="svg-icon bluesky"></i></a>{% endif %}
{% if site.footer-links.discord %}   <a rel="me" href="https://www.discord.com/users/{{ site.footer-links.discord }}"><i class="svg-icon discord"></i></a>{% endif %}
{% if site.footer-links.x %}         <a rel="me" href="https://www.x.com/{{ site.footer-links.x }}"><i class="svg-icon x"></i></a>{% endif %}
{% if site.footer-links.rss %}       <a href="{{ site.baseurl }}/atom.xml"><i class="svg-icon rss"></i></a>{% endif %}
